


@import "tailwindcss";
html,body{
    /* background-color: rgb(201, 165, 165); */
    background-color:#2C98A0;
    /* background-color: #38B2A3; */
    /* color:#F9FCFF; */
   color:#D0E3FF;
   scroll-behavior: smooth;
}
:root{
    font-size: 16px;
}
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.poppins-medium{
    font-family:"poppins",sans-serif;
    font-weight: 500;
    font-style: normal;
}
.PersonalInfo , .Navbar {
    margin-top:2rem;
    margin-inline:6rem;
}

.p-3{
    padding:10px;
}

.p-10{
    padding:4rem;
}

.container{
    align-items: center;
    justify-content: center;
}
.circle{
    border-radius: 50%;
}
.NavLink {
    cursor: pointer!important;
  }
  

li{
    cursor:pointer;
   
}
a{
    cursor: pointer !important;
}
.mt{
    margin-top:5px;
}
.mt-3{
    margin-top:10px;
    margin-bottom: 10px;
}

.mb-10{
    margin-bottom: 4rem;
}

/* animation */
/* .container {
    position: relative;
    transition: transform 3s ease-in-out, opacity 1s ease-in-out;
    opacity: 1;
} */




    .animate-fly {
        animation: fly 1s forwards;
    }
    @keyframes fly {
    from {
        transform: translateY(0);
        opacity: 0;
    }
    to {
        transform: translateY(-20px);
        opacity: 1;
    }}




    @media screen and (min-width: 530px)
    {
        .desktop{
            display:none; 
        }
        .mobile{
            display:block;
        }
    }
   /* mobile */
    @media screen and (max-width: 500px) {
        *{
            font-size: 13px;
        }
        .PersonalInfo{
            text-align: center;
            margin-inline: 0;
        }
        .desktop{
            display:block; 
            width: 10rem;
            height: 10rem;
        }
        article{
           margin-top:5rem;
           & div{
            padding:10px!important;
           }
        }
        .hire{
            gap:1.2rem!important;
        }
        .mobile{
            display:none;
        }
        .mobile-font{
            font-size: 25px!important;
        }

  #projects{
    margin: 3.5rem !important;
  }
  .mls{
    position: relative;
    right:10%;
    margin-bottom: 8%;
  }
  .contactus{
    margin:1.5rem !important;
    
  }
  .contactus:nth-child(2)
  {
    margin-top: 1rem!important;
  }
  input{
    margin-left: 0!important;
    
  }
  label{
    margin-top: 1rem;;
    margin-left:0!important;
  }
  .imgP{
    width: 20rem;
    height:10rem;
  }
  #skills{
    margin-inline: 2rem !important;
    margin-block:8rem!important;
  }
.skill-set{
    padding-inline:0!important
}
.title{
    & h1{
        font-size:  25px !important;
    }
}
.h-screen{
    height: 250px!important;
    margin-bottom: 10rem;
}
/* section{
    margin-block:10rem!important;
} */
 .bigfont{
    font-size: 23px!important;
 } 
 .kisan{
    font-size:15px!important;
    letter-spacing: 1px;
 }
 svg{
    height: 1.2rem!important;
 }
    }